.hello { color: red;}

.avatar{
    position: relative;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.newTag {
    background-color: rgb(255, 193, 100);
    border-radius: 20%;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 50px;

}

.profile {
    width: 300px;
    background-color: #ebebeb;
    box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);
    padding: 1rem;
    text-align: center;
    margin-bottom: 10px;
}


.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgb(215, 127, 12);
  }
  
  .counter:hover {
    background-color: rgb(246, 243, 197);
  }
  
  .number {
    font-size: 7rem;
  }
  
  .button {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: rgb(215, 127, 12);
    background: linear-gradient(
      90deg,
      rgba(215, 127, 12, 1) 0%,
      rgba(253, 220, 29, 1) 100%
    );
  }
  