.hello { color: red;}

.profile{
    width: 300px;
    text-align: center;
    padding: 1rem;
    background-color: #ebebeb;
    box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 28px -7px rgba(0,0,0,0.75);

}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}